* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

body, #root {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
}

.sheet {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  overflow:auto;
  --gap: 2rem;

  .gridContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: var(--gap);
    display: grid;
    gap: var(--gap);

    .shortcut {
      background: #fff3;
      border-radius: 1rem;
      overflow:hidden;
    }

    &.preview {
      gap: 0;
      padding: 0;



      .previewCell:nth-child(even) {
        //background: #006666;
        border-style: solid;
        border-color: #00ffff33;
        border-width: 0;

      }

      &.row .previewCell:nth-child(even) {
        border-top-width: 1px;
        border-bottom-width: 1px;
      }
      &.column .previewCell:nth-child(even) {
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }
  }
}
